/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: "Ubuntu Light", Arial, Helvetica, sans-serif;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #232638;
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6, button, label, input, option {
  font-family: "Ubuntu Light", Arial, Helvetica, sans-serif;
}
